<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Carbon.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Carbon.Launcher.Properties.Settings>
            <setting name="RustDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipWarmup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SilentCrashes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableGibs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectIP" serializeAs="String">
                <value />
            </setting>
        </Carbon.Launcher.Properties.Settings>
    </userSettings>
</configuration>
